.ParlorHeaderWrapper{
    background-color: rgb(255, 251, 251);
    padding: 30px 0;
}

.ParlorHeader{
    max-width: 1050px;
    width: 94%;
    margin: auto;
    display: flex;
}
/* ==================== */
.ShopProfileData{
    max-width: 1050px !important ;
    width: 94%;
    margin: auto;
    padding-top: 10px;
}
.ParlorHeaderImage{
    max-width: 280px;
    width: 100%;
    margin-right: 20px;
}

.ParlorHeaderImage img{
    width: 100%;
    border-radius: 4px;
}
.ParlorHeaderContent h1{
    font-size: 30px;
    font-weight: 600 !important;
}

.ParlorHeaderContent .address{
    display: flex;
}
.ParlorHeaderContent .address span{
    margin-top: 4px  !important;
    margin-right: 6px;
}


@media screen and (max-width: 716px) {
    .ParlorHeader{
       flex-direction: column;
    }
    .ParlorHeaderImage{
       margin-right: 0;
       max-width: 100%;
       width:100%;
       margin-bottom: 12px;
    }
}